<html>
    <head>
        <title>
            twic
        </title>
    </head>
    <body><!--style="background-color: pink">--->
        <canvas style="position: fixed" id='canvas' width='100%' height='100%'>
        </canvas>
        <div id="root">
        </div>
        
        <!--REACT REFERENCES-->
        <script crossorigin src="https://unpkg.com/react@16/umd/react.development.js"></script>
        <script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
        
        <!--JQUERY REFERENCES-->
        <script crossorigin src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        
        <!--MY APP.JS-->
        <!--<link rel="stylesheet", href="./index.css"/>-->
        <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
        <script type="text/babel" src="/templates/index/TopBanner.js"></script>
        <script type='text/babel' src='/templates/index/BlogPane.js'></script>
        <script type="text/babel" src="/templates/index/ContactsPane.js"></script>
        <script type="text/babel" src="/templates/index/LoginSignup.js"></script>
        <script type="text/babel" src="/templates/index/InterestsSelectionPane.js"></script>
        <script type="text/babel" src="/templates/index/index.js"></script>
    </body>
</html>